.common-wrapper {
  width: 1024px;
  margin: 0 auto;
 }
.common-wrapper .header {
	padding: 4px 0;
	height: 30px;
	border-bottom: 1px solid #d6d6d6;
}
.common-wrapper .ant-menu-vertical .ant-menu-item{
	height: 12px;
	line-height: 12px;
	font-size: 12px;
	padding: 0 ;
	text-align: center;
  color: #333;
}

.common-wrapper .ant-input,.common-wrapper .ant-btn {
	height: 22px;
}
.common-wrapper .ant-btn {
	margin-left: 9px;
}
 
 .common-wrapper .nav-list {
   height: 70px;
 }  

 .common-wrapper .nav-list .ant-col-6 {
 	width: 334px;
 }
 .common-wrapper .nav-list .ant-col-18 {
 	width: 690px;
 }

 .common-wrapper .ant-menu-item{
 	font-size: 12px;
 	line-height: 26px;
 }

.common-wrapper .nav-list .ant-menu-item {
	line-height: 30px;
}
 .common-wrapper .english-list {
 	font-size: 12px;
 	height: 110px;
 	text-align: center;
 }

 .common-wrapper .english-list .ant-menu-item a::before {
  float: left;
 }
 .english-nav {
 	background: #fdf4e5;
 	display: block;
 	line-height: 26px;
 	border: 1px solid #ffe9d3;
 	border-left: 0;
 }
.common-logo-img {
  width: 200px;
  height: 70px;
  display: block;
  margin: 0 auto;
}
.common-wrapper .nav-list .ant-menu-horizontal {
	height: 70px;
}
.ant-menu-item {
	line-height: 25px;
}
.common-wrapper .ant-menu-horizontal .ant-menu-item .ant-menu-item-active {
	border: 0
}

.foot-container {
	border: 1px solid #aaa;
	border-bottom: 0;
	height: 80px;
	font-size: 12px;
	text-align: center;
}

.foot-con {
	margin: 9px 0 19px 0;
}

.foot-con-important {
	color: #06c;
	font-weight: bold;
	cursor: pointer;
}

.common-wrapper .index-nav-con .ant-btn-danger {
  color: #06c;
  width: 189px;
  border-color: #06c;
  border-radius: 10px;
  line-height: 16px;
  height: 16px;
  margin-top: 4px;

}
.index-content-title {
  padding: 0;
  background: #ff4444;
  color: #fff;
  display: block;
  line-height: 25px;
}
.common-wrapper .index-nav-con .ant-btn-danger:hover {
  background: #06c;
  color: #fff;
}
.common-wrapper .ant-list-split .ant-list-item {
  border-bottom: 0;
  line-height: 20px;
  cursor: pointer;


}

.common-wrapper .ant-list-split .ant-list-item .ant-list-item-meta .item-con:hover {
  background: #5ec3ef;
}
.common-wrapper .ant-list-item-meta-title {
  color: #3b8070;
}
.common-wrapper.item-title {
  color: #049;
}
.common-wrapper .ant-list-item {
  line-height: 20px;
  font-size: 12px;
  padding: 0 
  
}
.common-wrapper .index-nav-con {
	height: 25px;
	border: 1px solid #ccc;
}

